@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* Note for image when resizing it you can use the css property::after
    object-fit: contain;
*/

.header {
    font-family: "Varela Round", sans-serif;
    font-weight: 700;
    display: flex;
    padding: 1em 0em;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffd1d1;
    border-bottom: #021944 0.09em solid;
    color: #021944;
    padding: 1.2em;

}


.header p {
    font-size: 1.5em;
}

.header .icon {
    color: #021944;
    padding: 0.5em;
    background-color: #fffefb;
    border-radius: 50%;
    font-size: 1em;
}